*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #636;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 500px;
    background: #fdc63071;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f3743570, #fdc63097);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f374357c, #fdc6307c),url(pagina.html/portada2.00.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .texto-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto-header h1{
    font-size: 50px;
    color: #fff;
}

.texto-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;

}

.wava{
    position: absolute;
    bottom: 0;
    width: 100%;

}

.contenedor-sobre-elefan{
    display: flex;
    justify-content: space-evenly;
}

.imagen-deele{
    width: 48%;
}

.contenedor-sobre-elefan .contenedor-textos{
    width: 48%;
}

.contenedor-textos h3{
    margin-bottom: 15px;
}

.contenedor-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50% ;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
    margin-right: 5px;
}

.contenedor-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify; 
}

/*elefantitos*/



.Elefantitosbb{
    background: #f2f2f2;
}


.imagen-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 5px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
}

.galeria-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
